conda.enabled = true

manifest {
  description = 'atb-amrfp-nf'
  author = 'Jane Hawkey'
  nextflowVersion = '>=20.01.0'
}

params {
  // Input and Output
  output_dir = ''
  file_list = ''
  archive_location = ''

  // Options to run

  // Executor
  // Maximum retries before ignoring job
  max_retries = 3
  // Maximum jobs to submit to the SLURM queue at once
  queue_size = 1000
  // Number of processors to use for local execution
  processors = 4
  // Account for SLURM
  slurm_account = 'md52'
}

profiles {
  standard {
    executor {
        name = 'local'
        queueSize = params.processors
    }
  }

  massive {
    executor {
      name = 'slurm'
      // Queue size
      queueSize = params.queue_size
      // Submission rate to 2 per second
      submitRateLimit = '2/1.seconds'
      // Modify job-name, replace 'nf' with 'rd'
      // For whatever reason I can't access task.processor.name here so instead we do
      // a string sub to achieve desired result (nextflow 20.04.1)
      jobName = { "atb-amrfp-nf-${task.name}".replace(' ', '_') }
  }

  process {
      // Retry jobs - typically with more resources
      // NOTE: referencing task.maxRetries in the errorStrategy closure causes a recursion loop in nf
      // during task resubmission and crashes due to a stack overflow; must be specified as done below
      maxRetries = params.max_retries
      errorStrategy = { task.attempt < params.max_retries ? 'retry' : 'ignore' }

      // Required for consistent resumes on massives NFS
      cache = 'lenient'

      // Set options absent from nf slurm api
      clusterOptions = {
        qos = ''
        partition = ''
        if (task.time <= 30.minutes) {
          qos = 'genomics'
          partition = 'comp,genomics,short'
        } else if (task.time <= 240.minutes) {
          qos = 'genomics'
          partition = 'comp,genomics'
        } else {
          qos = 'normal'
          partition = 'comp'
        }
        return "--account=${params.slurm_account} --qos=${qos} --partition=${partition}"
      }
    }
  }
}
